<div class="container">
    <h1>使用者管理</h1>
    <%= link_to "新增使用者", new_admin_user_path, :class => "btn btn-default" %>
    <table class='table'>
      <thead>
        <tr>
          <th>編號</th>
          <th>信箱</th>
          <th>管理者</th>
          <th>最近登陸</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.admin? %></td>
            <td><%= user.current_sign_in_at %></td>
            <td>
              <%= form_for [:admin, user] do |f| %>
                <%= f.label :admin, "管理員" %>
                <%= f.check_box :admin %>
                <%= f.submit "保存" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "返回", '/admin', :class => 'btn btn-default' %>
</div>
