<h1>Sites Index</h1>
<%= link_to '新景點', new_admin_site_path %>

<ul>
  <% @sites.each do |site| %>
    <li>
      <% if site.hotspot %>
        <span>熱門景點</span>
      <% end %>
      <%= site.name %>
      <%= form_for [:admin, site] do |f| %>
        <%= f.label :hotspot, "熱門" %>
        <%= f.check_box :hotspot %>
        <%= f.submit "保存" %>
      <% end %>
      <%= link_to "修改", edit_admin_site_path(site) %>
      <%= link_to "刪除景點", admin_site_path(site), :method => :delete %>
    </li>
    <% if site.pictures.exists? %>
      <li>
        <% site.pictures.each do |pic| %>
          <%= image_tag (pic.image.url(:medium)) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
