<h1>New Site</h1>

<% if @site.errors.any? %>
  <% @site.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<%= form_for [:admin, @site], html: { multipart: true } do |f| %>
  <%= f.label :name, "名稱" %>
  <%= f.text_field :name %>

  <%= f.label :address, "地址" %>
  <%= f.text_field :address %>

  <%= f.label :duration, "營業時間" %>
  <%= f.text_field :duration %>

  <%= f.label :tel, "電話" %>
  <%= f.text_field :tel %>

  <%= f.label :hotspot, "熱門" %>
  <%= f.check_box :hotspot %>

  <%= f.label :pictures, "上傳圖片" %>
  <%= file_field_tag "images[]", type: :file, multiple: true %>

  <%= f.submit "保存" %>
<% end %>
